/* Estilos para la pantalla de usuario en React Web */

.user-screen-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .gradient-background {
    background: linear-gradient(to right, #3498db, #2980b9, #1abc9c);  /* Gradiente azul-verde */
    padding: 30px 20px;
    text-align: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .title-text {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
  }
  
  .subtitle-text {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
  }
  
  .logout-text {
    font-size: 18px;
    color: #e74c3c;  /* Rojo para el logout */
    background: none;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logout-text:hover {
    text-decoration: underline;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-text {
    font-size: 20px;
    color: #3498db;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container {
    flex: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  